@model List<Product>
@{
    ViewData["Title"] = "Products List";
}

<div class="row">
    <h1>Product Manager</h1>

    <div class="col-12">
        <table class="table table-bordered">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
            </tr>
            @foreach (var product in Model)
            {
				<tr style="font-size:20px">
					<td style="padding-top:15px; padding-bottom:15px">@product.Code</td>
					<td style="padding-top:15px; padding-bottom:15px">@product.Name</td>
					<td style="padding-top:15px; padding-bottom:15px">@product.YearlyPrice</td>
					<td style="padding-top:15px; padding-bottom:15px">@product.Date</td>
                    <td>
						<a class="btn btn-primary"style= "text-decoration:none; color:white" asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a>
						<a class="btn btn-primary"style= "text-decoration:none; color:white" asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
					</td>
				</tr>
            }
            
        </table>
        <a class="btn btn-primary"style= "text-decoration:none; color:white" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
    </div>
</div>
